<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNgo</title>
</head>
<body>
    <form method = "POST" action = "/listings">
        <input name = "title" placeholder = "enter title" type = "text">
        <br />
        <textarea name = "description" placeholder = "enter description" type = "text"></textarea>
        <br />
        <input name = "price" placeholder = "enter price" type = "number"></input>
        <br />
        <input name = "country" placeholder = "enter country name" type = "text"></input>
        <br />
        <input name = "image" placeholder = "enter image/URL" type = "text"></input>
        <br />
        <input name = "location" placeholder = "enter location" type = "text"></input>
        <br />
        <button> Add </button>
    </form>
    
</body>
</html>